.contactSection {
  padding: 40px 0;
  text-align: center;
}

.socialLinks {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.socialLinks a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid;
  border-color: rgb(255, 174, 0);
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #1e1e1e;
}

.socialLinks a:hover {
  color: #007bff;
}

.discord {
  color: #5865f2;
}

.telegram {
  color: #0088cc;
}

.discordWidgetSection {
  padding: 40px 20px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
}

.iframeWrapper {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
